.heading-name{
  text-align: center;
  align-items: center;
  padding: 5px;
}
.heading-name small{
  text-align: center;
  align-items: center;
  color: red;
}
#span-one{
  color: red;
}
#span-two{
  color:green;
}
#span-three{
  color:rgb(103, 33, 168);
}
.App{
  background-color: rgb(240, 255, 255);
}