.heading-name{
  text-align: center;
  align-items: center;
  padding: 5px;
}
.heading-name small{
  text-align: center;
  align-items: center;
  color: rgb(32, 63, 0);
}
#span-one{
  color: red;
}
#span-two{
  color:green;
}
#span-three{
  color:rgb(214, 153, 40);
}