.heading-name{
  text-align: center;
  align-items: center;
  padding: 5px;
}
.heading-name small{
  text-align: center;
  align-items: center;
  color: chartreuse;
}
#span-one{
  color: red;
}
#span-two{
  color:green;
}
#span-three{
  color:orange;
}